@font-face {
  font-family: 'GeneralSans';
  src: url("../fonts/GeneralSans-Regular.eot?") format("eot"),
  url("../fonts/GeneralSans-Regular.woff") format("woff"),
  url("../fonts/GeneralSans-Regular.woff2") format("woff2"),
  url("../fonts/GeneralSans-Regular.ttf") format("truetype");
  font-style: normal;
}
